.dadosDolar,
.dadosIene,
.dadosEuro,
.dadosYuan,
.dadosDolarAustraliano {
    margin: 3em auto;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 24px;
    width: 70%;
    color: var(--cinza);
}

.grafico {
    width: 30vw;
}

.grafico__titulo {
    display: flex;
    align-items: center;
}

.grafico__titulo span {
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
}

.grafico__ilustracao-dolar {
    background-image: url('../imagens/cifrao.png');
    position: absolute;
}

.grafico__ilustracao-iene {
    background-image: url('../imagens/iene.png');
    position: absolute;
}

.grafico__ilustracao-euro {
    background-image: url('../imagens/euro.png');
    position: absolute;
}

.grafico__ilustracao-yuan {
    background-image: url('../imagens/yuan.png');
    position: absolute;
}

.grafico__ilustracao-australiano {
    background-image: url('../imagens/dolar-australiano2.png');
    position: absolute;
}

.grafico__titulo h2 {
    color: var(--cinza);
    font-weight: 700;
    font-size: 24px;
    column-gap: 6em;
    margin: 0 2.5em;
}

.investimentos__lista {
    margin: 3em;
    color: var(--cinza);
}

.investimentos__lista li {
    margin: 1em 0;
}

#graficoDolar,
#graficoIene,
#graficoEuro,
#graficoYuan,
#graficoAustraliano {
    margin-top: 1.5em;
}



.investimentos {
    margin: 0 1em;
}